<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="bower_components/boostrap/dist/css/bootstrap.min.css")
        title Document
    body
        h1 EJERCICIO #2
        h2 ESCRIBA UN NUMERO DEL MES CORRESPONDIENTE
        form(action="ejercicioDos" method="POST")
            input(type="text", name="mes")
            input(class="btn btn-danger" type="submit", value="Resultado")
        h2 #{result}
        