<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="bower_components/boostrap/dist/css/bootstrap.min.css")
        title Document
    body
        h1 EJERCICIO #4
        h2 DIigite un numero
        form(action="ejercicioCuatro" method="POST")
            input(type="number", name="numero")
            input(class="btn btn-danger" type="submit", value="Resultado")
        h2 el numero es: #{r_numero}