<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="bower_components/boostrap/dist/css/bootstrap.min.css")
        title Document
    body
        h1 EJERCICIO #7
        form(action="ejercicioSiete" method="POST")
            - for(var i = 1; i <= 8; i++) {
                h2= "Digite un numero" + " " + i
                input(type="number" name="num" + i)
            - }
            input(class="btn btn-danger" type="submit", value="Resultado")
        h3 El resultado de la suma es: #{suma} 